.env
.env.local
node_modules
dist
build
.next
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local
*.zip
node_modules/
dist/
build/